body{
    background: #e8e8e8;
}
.container{
    width: 960px;
    margin: 50px auto;
    position: relative;
}
.container img{
    padding: 8px 8px 12px 8px;
    background: #ffffff;
    box-shadow: 3px 3px 5px #b5b5b5;
    position: absolute;
    z-index: 1;
    transition:1s;
    -webkit-transition:1s;
}
.img1{
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    top: 10px;
    left: 10px;
}
.img2{
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    top: 10px;
    left: 200px;
}
.img3{
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    top: 10px;
    left: 400px;
    z-index: 2;
}
.img4{
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    top: 10px;
    left: 600px;
}
.img5{
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    top: 10px;
    left: 800px;
}
.img6{
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    top: 300px;
    left: 10px;
}
.img7{
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    top: 250px;
    left: 200px;
}
.img8{
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    top: 180px;
    left: 400px;
}
.img9{
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    top: 300px;
    left: 500px;
}
.img10{
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    top: 200px;
    left: 700px;
}
.container img:hover{
    z-index: 99;
    transform: rotate(0deg) scale(1.5);
    -webkit-transform: rotate(0deg) scale(1.5);

}